<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Titre</title>
    <style>
      :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.145 0 0);
        --gray: oklch(0.205 0 0);
        --gray-foreground: oklch(0.985 0 0);
        --primary: #d4a574;
        --primary-foreground: oklch(0.985 0 0);
        --primary-dark: #b8934a;
        --primary-dark-foreground: oklch(0.145 0 0);
        --secondary: oklch(0.97 0 0);
        --secondary-foreground: oklch(0.205 0 0);
        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(82.344% 0.00009 271.152);
        --accent: oklch(89.143% 0.0001 271.152);
        --accent-foreground: oklch(0.205 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --destructive-foreground: oklch(0.577 0.245 27.325);
      }
      body {
        font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
        min-height: 100vh;
        padding: 40px;
        background-color: oklch(1 0 0);
        color: oklch(0.145 0 0);
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #e5e7eb;
        border-radius: 10px;
        padding: 20px 40px;
      }

      header {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 2px solid #b8934a;
        padding: 10px 0px;
      }

      .company-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0px 10px;
      }
      .company-name {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0px 0px 10px 0px;
      }
      .company-name .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        padding: 5px;
        background-color: oklch(0.145 0 0);
        color: oklch(0.985 0 0);
        border-radius: 8px;
      }
      .company-name .logo span {
        margin: 0;
        font-size: 18px;
      }

      .company-name h1 {
        margin: 0;
        font-size: 20px;
      }

      .body {
        display: block;
        width: 100%;
        height: auto;
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
      }

      .box {
        height: auto;
        border: 2px solid #b8934a;
        border-radius: 10px;
        padding: 15px 20px;
        margin: 20px 0px;
        background-color: #b8934a5b;
        color: black;
        font-size: 16px;
      }

      .footer {
        width: 100%;
        margin-top: 40px;
        padding: 10px;
        border-top: 1px solid #e5e7eb;
        text-align: center;
        font-size: 14px;
        color: oklch(57.61% 0.00007 271.152);
      }

      @media screen and (max-width: 768px) {
        body {
          padding: 20px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="company-info">
          <div class="company-name">
            <div class="logo">
              <span>TG</span>
            </div>
            <h1>TAT GLOBAL</h1>
          </div>
        </div>
      </header>

      <div class="body">
        <div class="titre">
          <h3>Plus qu'une étape pour modifier votre mot de passe</h3>
        </div>

        <div class="content">
          <section>
            <p>Bonjour {{ firstName }},</p>
            <p>
              Nous avons reçu votre demande pour la récupération de votre
              compte. Votre code est : .
            </p>
          </section>

          {% if tokenId %}
          <section style="display:flex;justify-content:center;align-items:center">
            <div class="box">
            <strong >{{ tokenId }}</strong>
            </div>
          </section>
          {% endif %}

          <section style="display:flex;justify-content:center;align-items:center">
            <span style="font-size:14px;color:oklch(66.326% 0.00008 271.152)">
              Ce code expirera dans 15 minutes.
            </span>
          </section>

          <section>
            <p>
              Pour des raisons de sécurité, ne partagez jamais ce message avec qui
              que ce soit.
            </p>
            <p>
              Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer
              cet e-mail.
            </p>
          </section>

          <section>
            <p>
              Merci,<br />
              Sécurité TAT GLOBAL
            </p>
          </section>
        </div>
      </div>

      <div class="footer">
        <p>Ce message a été envoyé à {{ email }}</p>
        <p>
          Pour contribuer à la protection de votre compte, veuillez ne pas
          transférer cet e-mail.
        </p>
        <p>Merci d'avoir choisi TAT GLOBAL</p>
      </div>
    </div>
  </body>
</html>